.content_item {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.svg_icon {
  width: 36px;
  height: 36px;
  fill: white;
  opacity: 0.15;
  transition: 0.3s ease-in-out;
}

.comment_text {
  margin: 20px 0;
}

.child {
  padding: 0 0 0 30px;
}

.btn_wrapper {
  margin: 0 0 30px;
}
.btn_wrapper button {
  padding: 10px 40px;
}