button {
  text-decoration: none;
  background: rgba(195, 145, 94, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(195, 145, 94, 0.26);
  color: white;
  padding: 20px 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: rgba(195, 145, 94, 0.61);
}
button:focus,
button:active {
  background: rgba(195, 145, 94, 0.21);
}
